/* ======================== Reset Styles ======================== */
@import "../../scss/reset";
@import "../../scss/vars";



/* ======================== Fonts ======================== */
@import "../../scss/fonts";
@import "icons";

/* ================= General Styles =================*/
@import "../../scss/global";

.main{
    margin-top: 132px;
}
.main-container{
    padding: 0px 15px;
    justify-content: space-between;
    min-height: 800px;
    display: flex;
}

.content{
    flex: 1 1 80%;
}

.sidebar{
    flex: 1 1 20%;
}

/* ======================================================= Block Styles ============================================ */

/* ========================== Header ============================= */
@import "../../scss/header"; 

/* =========================== Form ============================== */
.form__container{
    min-height: 75px !important;
    background: #FFFFFF;
    box-shadow: 0px 2px 80px 2px rgba(0, 0, 0, 0.06);
    border-radius: 10px;
    .form__row{
        padding-top: 10px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        .form__date{
            outline: none;
            border: none;
            font-family: 'Poppins';
            font-size: 12px;
            line-height: 18px;
            color: #666666;   

        }
        .select__label{
            margin-bottom: 10px;
            display: block;
            font-family: 'Poppins';
            font-weight: 500;
            line-height: 24px;
            color: #222222;
            .label__inner{
                display: inline-block;
                position: relative;
            }
            .label__icon:before{
                content: "\f107";
                font-family: 'icomoon';
                color: $main-color;
                font-size: 18px;
                font-weight: 700;
                position: absolute;
                top: 0;
                right: -20px;
            }
        }
        .form__option{
            font-family: 'Poppins';
            font-size: 12px;
            line-height: 18px;
            color: #666666;
        }
        .form__select{
            border: none;
            outline: none;
            font-family: 'Poppins';
            font-size: 12px;
            line-height: 18px;
            color: #666666;        
        }
        .select-wrapper{
            position: relative;
            select{
                cursor: pointer;
                max-width: 280px;
                padding-right: 25px;
            }
            &:after{
                content: "";
                position: absolute;
                top: 0;
                right: 0px !important;
                background-color: #fff;
                width: 25px;
                height: 20px;
                z-index: 5;
            }
            
        }
    }
}









/* ==================================== Footer ==============================*/
@import"../../scss/footer";
.footer{
    position: static;
    min-height: 570px;
    height: 100%;
    &-side__text,
    &-side__header,
    &__menu-item,
    .icon{
        color: #333333 !important;
    }
    &__input{
        border: 1px solid #E0E0E0 !important;
        font-size: 14px;
        line-height: 17px;
        color: #333333;
        mix-blend-mode: normal;
        opacity: 0.6;
    }
    &__button{
        color: #333333 !important;
    }
    &__icons a{
        border-color: rgba($color: #333333, $alpha: .2) !important;
    }

    &__inner{
        position:static !important;
    }
}

/* ======================================= Media Query ==============================*/
@import "../../scss/media-query";