@media (max-width:1320px){
    .discover__left .white{
        color: #000000;
    }
    .slider{
        width: 900px;
    }
}
@media (max-width:1245px){
    .slider{
        width: 840px;
    }
}

@media(max-width:1160px){
    .slider{
        width: 827px;
    }
    .carousel__inner{
        max-width: 207px;
    }
}
@media (max-width:1145px){
    
    .discover{
        &__left{
            text-align: center;
            .white{
                color: $main-color;
            }
            &-header{
                max-width: 550px;
            }
            &-body{
                margin-bottom: 20px;
            }
        }
       
        &__right{
            max-width: 902px;
        }
    }

    .discover__inner{
        flex-direction: column;
        align-items: center;
    }
}

@media (max-width:1100px){
    .blog{
        &__item{
            margin-right: 15px;
        }
    }
    .carousel__header{
        font-size: 26px;
    }
    .carousel__body{
        font-size: 12px;
    }
    .carousel__inner{
        max-width: 158px;
    }
}

@media (max-width:1056px){
    .carousel__container{
        flex-direction: column;
        gap: 30px;
    }
    .carousel__inner{
        max-width: 100%;
    }
    .carousel__header{
        font-size: 43px;
        margin: 0;
    }
    .carousel__link{
        text-align: right;
    }
    .slider{
        margin: 0 auto;
        width: 100%;
    }
    .carousel__body{
        text-align: center;
        margin: 0;
    }
}

@media (max-width:1044px) {
    .deals{
        padding-top: 150px;
        &__items{
            flex-direction: row;
            gap:0px;
            justify-content: space-around;
        }
        &__row{
            gap:30px;
            flex-direction: column;
        }
    }
    
    .discover{
        max-height: 1000px;
        padding-top: 40px;
        &__left-body{
            color: #fff;
        }
        &__left-header{
            .white{
                color: #fff;
            }
        }
        background-size: cover,28%;
    }
}
@media (max-width:830px){
    .burger{
        display: flex !important;
    }

    .header__menu{
        transition: 0.3s all;
        transform: translateX(-100%);
        position: absolute;
        top: 0;
        left: 0;
        flex-direction: column;
        background-color: $main-color;
        width: 75%;
        height: 100vh;
        align-items: center;
        padding-top: 80px;
        z-index: 50;
        gap:30px;
        overflow: auto;
        .header__link{
            color: #000000;
        }
        
    }
}

@media (max-width:768px){
    .deals{
        &__items{
            flex-direction: column;
            align-items: center;
        }
    }
    .discover__left-header{
        margin: 0 auto;
        line-height: 47px;
        font-size: 39px;
    }
    .discover__left-body{
        font-size: 14px;
    }
}
@media (max-width:480px){
    .blog__header{
        font-size: 24px;
    }
    .blog__text{
        font-size: 14px;
    }
    .carousel__header{
        text-align: center;
        font-size: 34px;
    }
    .carousel__inner{
        margin: 0 auto;
    }
}
@media (max-width:380px){
    .discover__left-header{
        margin: 0 auto;
        line-height: 40px;
        font-size: 25px;
    }
    .discover__left-body{
        font-size: 12px;
    }
    .header__buttons{
        transition: 0.3s all;
        transform: translateX(-100%);
        position: absolute;
        top: 20px;
        right: 0;
        width: 75%;
        text-align: right;
        color: #000000;
        z-index: 60;
        .header__help,.header__language,.header__language::before,.header__login{
            color: #000000;
        }
    }
}
@media (max-width:350px){
    .carousel__header{
        font-size: 28px;
    }
    .deals__column{
        max-width: 300px;
        .deals-column__image{
            max-width: 300px;
        }
    }
}

