.slider{
    width: 948px;
    margin-right: -100px;
    .slider__image{
        position: relative;
        transition: 0.3s all;
        &:hover .image__text{
            transform: translateY(-50%);
        }
        .image__text{
            transition: 0.3s all;
            position: absolute;
            bottom: 20px;
            left: 10px;
            img{
                display: inline-block;
            }
            &-header,span{
                font-family: 'Montserrat';
                font-weight: 600;
                font-size: 20px;
                line-height: 100%;
                color: #FFFFFF;
                text-shadow: 0px 4px 30px rgba(0, 0, 0, 0.15);
            }
            &-header{
                margin-bottom: 5px;
            }
            span{
                font-size: 14px;
            }
            &-raiting{
                display: flex;
                align-items: center;
                gap:9px;
            }
        }    
    }
}