/* ============== Reset Styles ============== */
@import "reset";
@import "vars";

/* ================== Fonts =============== */
@import "fonts";
@import "icons";

/*================ Common Styles =================*/
@import "global";

/* ============= Blocks Styles ==============*/


/* =========== header ============== */
.header{
    height: 80px;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.2px;
    &__inner{
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__link{
        color: #BDBDBD;
    }
    &__menu{
        display: flex;
        gap:30px;
    }
    &__help,&__language{
        color: #333333;
    }
    &__language:before{
        content: "\e9c9";
        font-family: 'icomoon';
        color: #333333;
        font-size: 18px;
    }
    &__buttons{
        display: flex;
        gap:25px;
    }
    
    .active__link{
        color: #333333;
    }
    &__login{
        color: $main-color;
    }

    .burger{
        display: none;
        flex-direction: column;
        &:hover{
            cursor: pointer;
        }
        &__line{
            width: 30px;
            height: 3px;
            background-color: $main-color;
            margin-bottom: 5px;
            &:last-child{
                margin-bottom: 0px
            }
        }
    }

    .visible{
        transform: translateX(0);
    }
}





@import "media-query";