/* ============== Reset Styles ============== */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&family=Montserrat:wght@400;600;700&family=Poppins:wght@400;500;600&display=swap");
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::after,
*::before {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

ul[class],
ol[class] {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

ul[class] {
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

a {
  text-decoration: none;
}

/* ================== Fonts =============== */
/*

    font-family: 'Inter', sans-serif;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Poppins', sans-serif;

*/
@font-face {
  font-family: "icomoon";
  src: url("../fonts/icomoon.eot?cz6o2o");
  src: url("../fonts/icomoon.eot?cz6o2o#iefix") format("embedded-opentype"), url("../fonts/icomoon.ttf?cz6o2o") format("truetype"), url("../fonts/icomoon.woff?cz6o2o") format("woff"), url("../fonts/icomoon.svg?cz6o2o#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
[class^=icon-], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icomoon" !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-facebook:before {
  content: "\f09a";
}

.icon-facebook-f:before {
  content: "\f09a";
}

.icon-linkedin:before {
  content: "\f0e1";
}

.icon-angle-double-right:before {
  content: "\f101";
}

.icon-angle-down:before {
  content: "\f107";
}

.icon-instagram:before {
  content: "\f16d";
}

.icon-sphere:before {
  content: "\e9c9";
}

/*================ Common Styles =================*/
html,
body {
  height: 100%;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 16px;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100%;
}

.main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

*[class*=__container] {
  height: 100%;
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 15px;
}

/* ================================================ Blocks Styles =================================================*/
/* =========== header ============== */
.header {
  z-index: 999;
  background-color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  border-bottom: 1px solid #ede6e6;
  height: 80px;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.2px;
}
.header__inner {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__link {
  color: #BDBDBD;
}
.header__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
}
.header__help, .header__language {
  color: #333333;
}
.header__language:before {
  content: "\e9c9";
  font-family: "icomoon";
  color: #333333;
  font-size: 18px;
}
.header__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 25px;
}
.header .active__link {
  color: #333333;
}
.header__login {
  color: #4FAEAB;
}
.header .burger {
  -webkit-transition: 0.3s all;
  -o-transition: 0.3s all;
  transition: 0.3s all;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.header .burger:hover {
  cursor: pointer;
}
.header .burger__line {
  width: 30px;
  height: 3px;
  background-color: #4FAEAB;
  margin-bottom: 5px;
}
.header .burger__line:last-child {
  margin-bottom: 0px;
}
.header .visible {
  -webkit-transform: translateX(0);
      -ms-transform: translateX(0);
          transform: translateX(0);
}
.header .rotate {
  -webkit-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

.hidden {
  overflow: hidden;
}

/* ============ Discover =========== */
.discover {
  margin-top: 80px;
  height: 1080px;
  padding-top: 115px;
  background-image: url("../images/discover-bg.png"), url("../images/discover-helm.png");
  background-position: center, bottom;
  background-size: contain, 28%;
  background-repeat: no-repeat;
}
.discover__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.discover__left-header {
  max-width: 450px;
  font-weight: 700;
  font-size: 56px;
  line-height: 77px;
  letter-spacing: 1.2px;
  text-transform: capitalize;
  color: #000000;
}
.discover__left-header .white {
  color: #fff;
}
.discover__left-body {
  max-width: 580px;
  font-size: 18px;
  line-height: 35px;
  letter-spacing: 0.2px;
  color: #FFFFFF;
}
.discover__right {
  max-width: 440px;
  padding: 34px 47px;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.04), 0px 20px 25px -5px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.04), 0px 20px 25px -5px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}
.discover__right-header {
  margin-bottom: 35px;
  font-family: "Poppins";
  font-weight: 700;
  font-size: 25px;
  line-height: 43px;
  color: #000000;
}
.discover__label {
  margin-bottom: 7px;
  display: block;
  font-family: "Poppins";
  font-weight: 500;
  line-height: 21px;
  color: #BDBDBD;
}
.discover .form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 30px;
}
.discover__submit {
  padding: 14px 24px;
  border: none;
  outline: none;
  width: 100%;
  background-color: #4FAEAB;
  -webkit-box-shadow: 0px 8px 16px rgba(79, 174, 171, 0.2);
          box-shadow: 0px 8px 16px rgba(79, 174, 171, 0.2);
  border-radius: 5px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 32px;
  text-align: center;
  color: #FFFFFF;
  -webkit-transition: 0.3s all;
  -o-transition: 0.3s all;
  transition: 0.3s all;
}
.discover__submit:hover {
  cursor: pointer;
  background-color: #0971a1;
}
.discover__select, .discover__date {
  background-color: #fff;
  padding: 15px 9px;
  width: 100%;
  border: 1px solid #E0E0E0;
  border-radius: 5px;
  outline: none;
  -webkit-appearance: none !important;
     -moz-appearance: none !important;
          appearance: none !important;
}
.discover__select:focus, .discover__date:focus {
  border-color: #4FAEAB;
}
.discover__select, .discover__date, .discover__option {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  color: #000000;
}
.discover .form__row {
  position: relative;
}
.discover .form__row::after {
  position: absolute;
  content: "\f107";
  font-family: "icomoon";
  font-size: 45px;
  color: #4FAEAB;
  right: 10px;
  top: 40%;
  width: 40px;
  background-color: white;
}
.discover .form__row:last-child:after, .discover .form__row:nth-child(2):after {
  display: none;
}
.discover .fa-solid {
  position: absolute;
  font-size: 30px;
  color: #4FAEAB;
  right: 10px;
  top: 47%;
  width: 40px;
  background-color: white;
}

/* ============== Deals ================= */
.deals {
  margin-top: -65px;
}
.deals__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 55px;
}
.deals__header {
  text-align: center;
  font-family: "Poppins";
  font-weight: 700;
  font-size: 35px;
  line-height: 43px;
  color: #000000;
}
.deals-column {
  background: #FFFFFF;
  -webkit-box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.12);
  border-radius: 5px;
  padding-bottom: 20px;
  -webkit-transition: 0.2s all;
  -o-transition: 0.2s all;
  transition: 0.2s all;
}
.deals-column__body {
  padding-left: 10px;
}
.deals-column:hover {
  -webkit-box-shadow: 0px 4px 10px #4faeab;
          box-shadow: 0px 4px 10px #4faeab;
}
.deals-column__functions {
  margin-bottom: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.deals-column__header {
  padding-top: 12px;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.46px;
  color: #000000;
  margin-bottom: 10px;
}
.deals-column__stars {
  margin-bottom: 24px;
}
.deals-column__item {
  padding-left: 10px;
  padding-right: 10px;
  border-right: 1px solid #000000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 4px;
  font-size: 10.819px;
  line-height: 13px;
  letter-spacing: 0.35548px;
  color: #4F4F4F;
}
.deals-column__item:last-child {
  border: none;
}
.deals-column__item:first-child {
  padding-left: 0;
}
.deals-column__item .icon {
  width: 14px;
  height: 14px;
}
.deals-column__price {
  color: #000000;
  font-weight: 700;
  font-size: 15px;
  line-height: 18px;
}
.deals__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 55px;
}
.deals-column__image {
  width: 340px;
  height: 160px;
  position: relative;
}
.deals-column__image img {
  max-width: 100%;
  width: 100%;
}
.deals-column__image .bookmark {
  position: absolute;
  top: 0;
  right: 17px;
  font-size: 45px;
  color: #FF9C04;
}
.deals__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.deals__more {
  display: inline-block;
  margin: 0 auto;
  text-align: center;
  font-family: "Poppins";
  font-weight: 500;
  font-size: 18px;
  line-height: 32px;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  color: #4FAEAB;
}

/* ============== Carousel ================== */
.carousel {
  padding-top: 155px;
  padding-bottom: 70px;
}
.carousel__header {
  font-family: "Poppins";
  font-weight: 700;
  font-size: 35px;
  line-height: 52px;
  text-align: left;
  color: #222224;
  margin-bottom: 87px;
}
.carousel__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  height: 100%;
}
.carousel__inner {
  height: 100%;
  max-width: 245px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 50px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.carousel__body {
  font-family: "Poppins";
  line-height: 170%;
  letter-spacing: 0.01em;
  color: #23262F;
  margin-bottom: 48px;
}
.carousel__link {
  font-family: "Poppins";
  font-weight: 500;
  line-height: 160%;
  letter-spacing: 0.01em;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  color: #23262F;
  -webkit-transition: 0.3s all;
  -o-transition: 0.3s all;
  transition: 0.3s all;
}
.carousel__link:after {
  content: "\f101";
  font-family: "icomoon";
}
.carousel__link:hover {
  padding-left: 20px;
}

/* Slider */
.slick-slider {
  position: relative;
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0;
}
.slick-list:focus {
  outline: none;
}
.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.slick-track:before, .slick-track:after {
  content: "";
  display: table;
}
.slick-track:after {
  clear: both;
}
.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none;
}
[dir=rtl] .slick-slide {
  float: right;
}
.slick-slide img {
  display: block;
}
.slick-slide.slick-loading img {
  display: none;
}
.slick-slide.dragging img {
  pointer-events: none;
}
.slick-initialized .slick-slide {
  display: block;
}
.slick-loading .slick-slide {
  visibility: hidden;
}
.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
  display: none;
}

.slider {
  width: 948px;
  margin-right: -100px;
}
.slider .slider__image {
  position: relative;
  -webkit-transition: 0.3s all;
  -o-transition: 0.3s all;
  transition: 0.3s all;
}
.slider .slider__image:hover .image__text {
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}
.slider .slider__image .image__text {
  -webkit-transition: 0.3s all;
  -o-transition: 0.3s all;
  transition: 0.3s all;
  position: absolute;
  bottom: 20px;
  left: 10px;
}
.slider .slider__image .image__text img {
  display: inline-block;
}
.slider .slider__image .image__text-header, .slider .slider__image .image__text span {
  font-family: "Montserrat";
  font-weight: 600;
  font-size: 20px;
  line-height: 100%;
  color: #FFFFFF;
  text-shadow: 0px 4px 30px rgba(0, 0, 0, 0.15);
}
.slider .slider__image .image__text-header {
  margin-bottom: 5px;
}
.slider .slider__image .image__text span {
  font-size: 14px;
}
.slider .slider__image .image__text-raiting {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 9px;
}

/* ============================= Blog ======================= */
.blog {
  background-color: #FEFCFB;
  padding-top: 130px;
  padding-bottom: 60px;
}
.blog__item {
  padding-bottom: 40px;
}
.blog__header {
  font-family: "Poppins";
  font-weight: 700;
  font-size: 35px;
  line-height: 54px;
  text-align: center;
  color: #000000;
  padding-bottom: 60px;
}
.blog__header .blog__blue {
  color: #4FAEAB;
}
.blog__text {
  display: inline-block;
  padding-top: 24px;
  padding-bottom: 16px;
  font-family: "Poppins";
  font-weight: 500;
  font-size: 18px;
  line-height: 26px;
  color: #222222;
  max-width: 270px;
}
.blog__date {
  line-height: 26px;
  color: #999999;
}
.blog__container {
  padding-right: 0px;
}
.blog .slick-dots li button {
  font-size: 0px;
  width: 10px;
  height: 10px;
  margin-right: 10px;
  border-radius: 50%;
  background-color: #c5c3c3;
  padding: 0px;
  border: none;
  outline: none;
  -webkit-transition: 0.2s all;
  -o-transition: 0.2s all;
  transition: 0.2s all;
}
.blog .slick-dots li {
  display: inline-block;
}
.blog .slick-dots {
  text-align: center;
}
.blog .slick-dots li.slick-active button {
  width: 14px;
  height: 14px;
  background-color: #4FAEAB;
}

/* =================== Questions ==============*/
.questions {
  padding-top: 80px;
}
.questions__title {
  font-weight: 600;
  font-size: 48px;
  line-height: 58px;
  text-align: center;
  letter-spacing: 0.2px;
  text-transform: capitalize;
  color: #212121;
  margin-bottom: 16px;
}
.questions__text {
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  letter-spacing: 0.2px;
  text-transform: capitalize;
  color: #757575;
}
.questions__header, .questions__items {
  max-width: 930px;
  margin: 0 auto;
  margin-bottom: 70px;
  text-align: center;
}
.questions__items {
  margin-bottom: 0px;
  max-width: 830px;
  text-align: left;
}
.questions__item {
  padding: 20px 15px;
  padding-left: 0px;
}
.questions__body {
  margin-bottom: 24px;
  padding-left: 55px;
  font-weight: 500;
  font-size: 20px;
  line-height: 28px;
  text-transform: capitalize;
  color: #000000;
  position: relative;
  -webkit-transition: 0.3s all;
  -o-transition: 0.3s all;
  transition: 0.3s all;
}
.questions__body:hover {
  cursor: pointer;
}
.questions__body .plus {
  position: absolute;
  top: 50%;
  left: 20px;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}
.questions__body .plus span {
  -webkit-transition: 0.3s all;
  -o-transition: 0.3s all;
  transition: 0.3s all;
  top: 0;
  left: 0;
  position: absolute;
  display: inline-block;
  width: 16px;
  height: 2px;
  background-color: #4FAEAB;
  border-radius: 4px;
}
.questions__body .plus span:hover {
  cursor: pointer;
}
.questions__body .plus__vertical {
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
}
.questions__body .plus:hover {
  cursor: pointer;
}
.questions__answer {
  -webkit-transform: translateY(-100%);
      -ms-transform: translateY(-100%);
          transform: translateY(-100%);
  opacity: 0;
  visibility: hidden;
  padding-left: 75px;
  line-height: 24px;
  letter-spacing: 0.2px;
  color: #333333;
  -webkit-transition: 0.3s all;
  -o-transition: 0.3s all;
  transition: 0.3s all;
  height: 0;
}
.questions .visible {
  -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
          transform: translateY(0);
  opacity: 1;
  height: auto;
  visibility: visible;
}
.questions .hide {
  opacity: 0;
}
.questions .rotate {
  -webkit-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
          transform: rotate(0deg);
}

/* =================== Footer =================== */
.footer {
  height: 1217px;
  background-image: url("../images/footer_clouds.png"), url("../images/footer_gradient.png"), url("../images/footer_body.png");
  background-repeat: no-repeat;
  background-position: top, bottom, center;
  background-size: 100%;
  position: relative;
}
.footer__top {
  padding-bottom: 13px;
  border-bottom: 2px solid #fff;
  border-radius: 2px;
}
.footer-side__header {
  font-weight: 700;
  line-height: 28px;
  color: #FFFFFF;
  margin-bottom: 15px;
}
.footer-side__text {
  margin-bottom: 13px;
  line-height: 19px;
  color: #FFFFFF;
  opacity: 0.5;
  max-width: 347px;
  cursor: pointer;
}
.footer-side .text {
  cursor: auto;
}
.footer-side .form__inner {
  padding-bottom: 13px;
  position: relative;
}
.footer-side .form__inner button {
  cursor: pointer;
  position: absolute;
  right: 20px;
  outline: none;
  border: none;
  border-radius: 6px;
  background-color: #4FAEAB;
  height: 45px;
  width: 50px;
  color: #fff;
  font-size: 36px;
  font-weight: 900;
  padding-top: 0px;
}
.footer-side input {
  padding-left: 10px;
  border: none;
  outline: none;
  background-color: #fff;
  border-radius: 6px;
  height: 45px;
  max-width: 327px;
  width: 100%;
}
.footer__inner {
  position: absolute;
  bottom: 75px;
}
.footer__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 125px;
}
.footer-side {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 125px;
}
.footer__bottom {
  padding-top: 47px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.footer__bottom .footer__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 35px;
}
.footer__bottom .footer__menu-item {
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #FFFFFF;
}
.footer__bottom .footer__icons a {
  margin-right: 15px;
  padding: 9px;
  border-radius: 50%;
  border: 1px solid rgba(255, 255, 255, 0.5);
}
.footer__bottom .footer__icons a:nth-child(2) {
  padding: 10px 13px;
  padding-bottom: 9px;
}
.footer__bottom .footer__icons a:last-child {
  padding: 10px;
  padding-bottom: 8px;
  margin: 0;
}
.footer__bottom .icon {
  font-size: 20px;
  color: #FFFFFF;
  cursor: pointer;
}

/* ================ Media Query ===============*/
@media (max-width: 1320px) {
  .discover__left .white {
    color: #000000;
  }
  .slider {
    width: 900px;
  }
}
@media (max-width: 1245px) {
  .slider {
    width: 840px;
  }
}
@media (max-width: 1160px) {
  .slider {
    width: 827px;
  }
  .carousel__inner {
    max-width: 207px;
  }
}
@media (max-width: 1145px) {
  .footer__input {
    max-width: 83% !important;
  }
  .discover__left {
    text-align: center;
  }
  .discover__left .white {
    color: #4FAEAB;
  }
  .discover__left-header {
    max-width: 550px;
  }
  .discover__left-body {
    margin-bottom: 20px;
  }
  .discover__right {
    max-width: 902px;
  }
  .discover__inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
@media (max-width: 1100px) {
  .blog__item {
    margin-right: 15px;
  }
  .carousel__header {
    font-size: 26px;
  }
  .carousel__body {
    font-size: 12px;
  }
  .carousel__inner {
    max-width: 158px;
  }
}
@media (max-width: 1056px) {
  .footer__top {
    gap: 57px;
  }
  .footer-side {
    gap: 76px;
  }
  .carousel__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 30px;
  }
  .carousel__inner {
    max-width: 100%;
  }
  .carousel__header {
    font-size: 43px;
    margin: 0;
  }
  .carousel__link {
    text-align: right;
  }
  .slider {
    margin: 0 auto;
    width: 100%;
  }
  .carousel__body {
    text-align: center;
    margin: 0;
  }
}
@media (max-width: 1044px) {
  .deals {
    padding-top: 150px;
  }
  .deals__items {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    gap: 0px;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .deals__row {
    gap: 30px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .discover {
    max-height: 1000px;
    padding-top: 40px;
    background-size: cover, 28%;
  }
  .discover__left-body {
    color: #fff;
  }
  .discover__left-header .white {
    color: #fff;
  }
}
@media (max-width: 1025px) {
  .footer {
    position: static;
    max-height: 1200px;
    height: 100%;
    background-image: url("../images/footer_clouds.png");
    background-repeat: no-repeat;
    background-position: top;
    background-size: 100%;
    background-color: #4FAEAB;
    padding-bottom: 70px;
  }
  .footer__inner {
    padding-top: 100px;
  }
  .footer .form__inner button {
    background-color: #4FAEFD;
  }
  .footer__inner {
    position: static;
    padding-top: 221px;
  }
}
@media (max-width: 830px) {
  .questions__item {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .questions__title {
    font-size: 42px;
  }
  .questions__text {
    font-size: 16px;
  }
  .questions__body {
    font-size: 16px;
  }
  .questions__answer {
    font-size: 14px;
  }
  .burger {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }
  .header__menu {
    -webkit-transition: 0.3s all;
    -o-transition: 0.3s all;
    transition: 0.3s all;
    -webkit-transform: translateX(-100%);
        -ms-transform: translateX(-100%);
            transform: translateX(-100%);
    position: absolute;
    top: 0;
    left: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background-color: #4FAEAB;
    width: 75%;
    height: 100vh;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-top: 80px;
    z-index: 50;
    gap: 30px;
    overflow: auto;
  }
  .header__menu .header__link {
    color: #000000;
  }
}
@media (max-width: 768px) {
  .footer__bottom {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .footer__bottom .footer__logo {
    display: none;
  }
  .footer__bottom .footer__menu {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
  }
  .footer-side__text {
    font-size: 12px;
  }
  .footer-side__header {
    font-size: 14px;
  }
  .caarousel,
.blog,
.questions {
    padding-top: 60px;
  }
  .questions__item {
    padding-top: 8px;
    padding-bottom: 8px;
  }
  .questions__title {
    font-size: 36px;
  }
  .questions__text {
    font-size: 13px;
  }
  .questions__body {
    font-size: 13px;
  }
  .questions__answer {
    font-size: 11px;
  }
  .deals__items {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .discover__left-header {
    margin: 0 auto;
    line-height: 47px;
    font-size: 39px;
  }
  .discover__left-body {
    font-size: 14px;
  }
}
@media (max-width: 643px) {
  .footer__top {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer__top .footer-side {
    gap: 275px;
  }
}
@media (max-width: 570px) {
  .footer-side {
    gap: 130px;
  }
  .footer-side:first-child {
    gap: 200px;
  }
}
@media (max-width: 480px) {
  .footer__bottom {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 30px;
  }
  .footer-side {
    gap: 95px !important;
  }
  .footer-side:first-child {
    gap: 130px m !important;
  }
  .blog__header {
    font-size: 24px;
  }
  .blog__text {
    font-size: 14px;
  }
  .carousel__header {
    text-align: center;
    font-size: 34px;
  }
  .carousel__inner {
    margin: 0 auto;
  }
}
@media (max-width: 380px) {
  .footer-side {
    gap: 65px;
  }
  .footer-side:first-child {
    gap: 62px;
  }
  .footer-side .text {
    font-size: 9px;
  }
  .discover__left-header {
    margin: 0 auto;
    line-height: 40px;
    font-size: 25px;
  }
  .discover__left-body {
    font-size: 12px;
  }
  .header__buttons {
    -webkit-transition: 0.3s all;
    -o-transition: 0.3s all;
    transition: 0.3s all;
    -webkit-transform: translateX(-100%);
        -ms-transform: translateX(-100%);
            transform: translateX(-100%);
    position: absolute;
    top: 20px;
    right: 0;
    width: 75%;
    text-align: right;
    color: #000000;
    z-index: 60;
  }
  .header__buttons .header__help, .header__buttons .header__language, .header__buttons .header__language::before, .header__buttons .header__login {
    color: #000000;
  }
}
@media (max-width: 350px) {
  .carousel__header {
    font-size: 28px;
  }
  .deals__column {
    max-width: 300px;
  }
  .deals__column .deals-column__image {
    max-width: 300px;
  }
}