/* ======================== Reset Styles ======================== */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&family=Montserrat:wght@400;600;700&family=Poppins:wght@400;500;600&display=swap");
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::after,
*::before {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

ul[class],
ol[class] {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

ul[class] {
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

a {
  text-decoration: none;
}

/* ======================== Fonts ======================== */
/*

    font-family: 'Inter', sans-serif;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Poppins', sans-serif;

*/
@font-face {
  font-family: "icomoon";
  src: url("../../fonts/icomoon.eot?cz6o2o");
  src: url("../../fonts/icomoon.eot?cz6o2o#iefix") format("embedded-opentype"), url("../../fonts/icomoon.ttf?cz6o2o") format("truetype"), url("../../fonts/icomoon.woff?cz6o2o") format("woff"), url("../../fonts/icomoon.svg?cz6o2o#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
[class^=icon-], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icomoon" !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-facebook:before {
  content: "\f09a";
}

.icon-facebook-f:before {
  content: "\f09a";
}

.icon-linkedin:before {
  content: "\f0e1";
}

.icon-angle-double-right:before {
  content: "\f101";
}

.icon-angle-down:before {
  content: "\f107";
}

.icon-instagram:before {
  content: "\f16d";
}

.icon-sphere:before {
  content: "\e9c9";
}

/* ================= General Styles =================*/
html,
body {
  height: 100%;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 16px;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100%;
}

.main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

*[class*=__container] {
  height: 100%;
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 15px;
}

.main {
  margin-top: 132px;
}

.main-container {
  padding: 0px 15px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-height: 800px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.content {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 80%;
          flex: 1 1 80%;
}

.sidebar {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 20%;
          flex: 1 1 20%;
}

/* ======================================================= Block Styles ============================================ */
/* ========================== Header ============================= */
.header {
  z-index: 999;
  background-color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  border-bottom: 1px solid #ede6e6;
  height: 80px;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.2px;
}
.header__inner {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__link {
  color: #BDBDBD;
  -webkit-transition: 0.2s all;
  -o-transition: 0.2s all;
  transition: 0.2s all;
}
.header__link:hover {
  color: #333333;
}
.header__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
}
.header__help, .header__language {
  color: #333333;
}
.header__language:before {
  content: "\e9c9";
  font-family: "icomoon";
  color: #333333;
  font-size: 18px;
}
.header__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 25px;
}
.header__login {
  color: #4FAEAB;
}
.header .burger {
  -webkit-transition: 0.3s all;
  -o-transition: 0.3s all;
  transition: 0.3s all;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.header .burger:hover {
  cursor: pointer;
}
.header .burger__line {
  width: 30px;
  height: 3px;
  background-color: #4FAEAB;
  margin-bottom: 5px;
}
.header .burger__line:last-child {
  margin-bottom: 0px;
}
.header .visible {
  -webkit-transform: translateX(0);
      -ms-transform: translateX(0);
          transform: translateX(0);
}
.header .rotate {
  -webkit-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

.hidden {
  overflow: hidden;
}

/* =========================== Form ============================== */
.form__container {
  min-height: 75px !important;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 2px 80px 2px rgba(0, 0, 0, 0.06);
          box-shadow: 0px 2px 80px 2px rgba(0, 0, 0, 0.06);
  border-radius: 10px;
}
.form__container .form__row {
  padding-top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.form__container .form__row .form__date {
  outline: none;
  border: none;
  font-family: "Poppins";
  font-size: 12px;
  line-height: 18px;
  color: #666666;
}
.form__container .form__row .select__label {
  margin-bottom: 10px;
  display: block;
  font-family: "Poppins";
  font-weight: 500;
  line-height: 24px;
  color: #222222;
}
.form__container .form__row .select__label .label__inner {
  display: inline-block;
  position: relative;
}
.form__container .form__row .select__label .label__icon:before {
  content: "\f107";
  font-family: "icomoon";
  color: #4FAEAB;
  font-size: 18px;
  font-weight: 700;
  position: absolute;
  top: 0;
  right: -20px;
}
.form__container .form__row .form__option {
  font-family: "Poppins";
  font-size: 12px;
  line-height: 18px;
  color: #666666;
}
.form__container .form__row .form__select {
  border: none;
  outline: none;
  font-family: "Poppins";
  font-size: 12px;
  line-height: 18px;
  color: #666666;
}
.form__container .form__row .select-wrapper {
  position: relative;
}
.form__container .form__row .select-wrapper select {
  cursor: pointer;
  max-width: 280px;
  padding-right: 25px;
}
.form__container .form__row .select-wrapper:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0px !important;
  background-color: #fff;
  width: 25px;
  height: 20px;
  z-index: 5;
}

/* ==================================== Footer ==============================*/
.footer {
  height: 1217px;
  background-image: url("../images/footer_clouds.png"), url("../images/footer_gradient.png"), url("../images/footer_body.png");
  background-repeat: no-repeat;
  background-position: top, bottom, center;
  background-size: 100%;
  position: relative;
}
.footer__top {
  padding-bottom: 13px;
  border-bottom: 2px solid #fff;
  border-radius: 2px;
}
.footer-side__header {
  font-weight: 700;
  line-height: 28px;
  color: #FFFFFF;
  margin-bottom: 15px;
}
.footer-side__text {
  margin-bottom: 13px;
  line-height: 19px;
  color: #FFFFFF;
  opacity: 0.5;
  max-width: 347px;
  cursor: pointer;
}
.footer-side .text {
  cursor: auto;
}
.footer-side .form__inner {
  padding-bottom: 13px;
  position: relative;
}
.footer-side .form__inner button {
  cursor: pointer;
  position: absolute;
  right: 20px;
  outline: none;
  border: none;
  border-radius: 6px;
  background-color: #4FAEAB;
  height: 45px;
  width: 50px;
  color: #fff;
  font-size: 36px;
  font-weight: 900;
  padding-top: 0px;
}
.footer-side input {
  padding-left: 10px;
  border: none;
  outline: none;
  background-color: #fff;
  border-radius: 6px;
  height: 45px;
  max-width: 327px;
  width: 100%;
}
.footer__inner {
  position: absolute;
  bottom: 75px;
}
.footer__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 125px;
}
.footer-side {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 125px;
}
.footer__bottom {
  padding-top: 47px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.footer__bottom .footer__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 35px;
}
.footer__bottom .footer__menu-item {
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #FFFFFF;
}
.footer__bottom .footer__icons a {
  margin-right: 15px;
  padding: 9px;
  border-radius: 50%;
  border: 1px solid rgba(255, 255, 255, 0.5);
}
.footer__bottom .footer__icons a:nth-child(2) {
  padding: 10px 13px;
  padding-bottom: 9px;
}
.footer__bottom .footer__icons a:last-child {
  padding: 10px;
  padding-bottom: 8px;
  margin: 0;
}
.footer__bottom .icon {
  font-size: 20px;
  color: #FFFFFF;
  cursor: pointer;
}

.footer {
  position: static;
  min-height: 570px;
  height: 100%;
}
.footer-side__text, .footer-side__header, .footer__menu-item,
.footer .icon {
  color: #333333 !important;
}
.footer__input {
  border: 1px solid #E0E0E0 !important;
  font-size: 14px;
  line-height: 17px;
  color: #333333;
  mix-blend-mode: normal;
  opacity: 0.6;
}
.footer__button {
  color: #333333 !important;
}
.footer__icons a {
  border-color: rgba(51, 51, 51, 0.2) !important;
}
.footer__inner {
  position: static !important;
}

/* ======================================= Media Query ==============================*/
@media (max-width: 1320px) {
  .discover__left .white {
    color: #000000;
  }
  .slider {
    width: 900px;
  }
}
@media (max-width: 1245px) {
  .slider {
    width: 840px;
  }
}
@media (max-width: 1160px) {
  .slider {
    width: 827px;
  }
  .carousel__inner {
    max-width: 207px;
  }
}
@media (max-width: 1145px) {
  .footer__input {
    max-width: 83% !important;
  }
  .discover__left {
    text-align: center;
  }
  .discover__left .white {
    color: #4FAEAB;
  }
  .discover__left-header {
    max-width: 550px;
  }
  .discover__left-body {
    margin-bottom: 20px;
  }
  .discover__right {
    max-width: 902px;
  }
  .discover__inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
@media (max-width: 1100px) {
  .blog__item {
    margin-right: 15px;
  }
  .carousel__header {
    font-size: 26px;
  }
  .carousel__body {
    font-size: 12px;
  }
  .carousel__inner {
    max-width: 158px;
  }
}
@media (max-width: 1056px) {
  .footer__top {
    gap: 57px;
  }
  .footer-side {
    gap: 76px;
  }
  .carousel__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 30px;
  }
  .carousel__inner {
    max-width: 100%;
  }
  .carousel__header {
    font-size: 43px;
    margin: 0;
  }
  .carousel__link {
    text-align: right;
  }
  .slider {
    margin: 0 auto;
    width: 100%;
  }
  .carousel__body {
    text-align: center;
    margin: 0;
  }
}
@media (max-width: 1044px) {
  .deals {
    padding-top: 150px;
  }
  .deals__items {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    gap: 0px;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .deals__row {
    gap: 30px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .discover {
    max-height: 1000px;
    padding-top: 40px;
    background-size: cover, 28%;
  }
  .discover__left-body {
    color: #fff;
  }
  .discover__left-header .white {
    color: #fff;
  }
}
@media (max-width: 1025px) {
  .footer {
    position: static;
    max-height: 1200px;
    height: 100%;
    background-image: url("../images/footer_clouds.png");
    background-repeat: no-repeat;
    background-position: top;
    background-size: 100%;
    background-color: #4FAEAB;
    padding-bottom: 70px;
  }
  .footer__inner {
    padding-top: 100px;
  }
  .footer .form__inner button {
    background-color: #4FAEFD;
  }
  .footer__inner {
    position: static;
    padding-top: 221px;
  }
}
@media (max-width: 830px) {
  .questions__item {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .questions__title {
    font-size: 42px;
  }
  .questions__text {
    font-size: 16px;
  }
  .questions__body {
    font-size: 16px;
  }
  .questions__answer {
    font-size: 14px;
  }
  .burger {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }
  .header__menu {
    -webkit-transition: 0.3s all;
    -o-transition: 0.3s all;
    transition: 0.3s all;
    -webkit-transform: translateX(-100%);
        -ms-transform: translateX(-100%);
            transform: translateX(-100%);
    position: absolute;
    top: 0;
    left: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background-color: #4FAEAB;
    width: 75%;
    height: 100vh;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-top: 80px;
    z-index: 50;
    gap: 30px;
    overflow: auto;
  }
  .header__menu .header__link {
    color: #000000;
  }
}
@media (max-width: 768px) {
  .footer__bottom {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .footer__bottom .footer__logo {
    display: none;
  }
  .footer__bottom .footer__menu {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
  }
  .footer-side__text {
    font-size: 12px;
  }
  .footer-side__header {
    font-size: 14px;
  }
  .caarousel,
.blog,
.questions {
    padding-top: 60px;
  }
  .questions__item {
    padding-top: 8px;
    padding-bottom: 8px;
  }
  .questions__title {
    font-size: 36px;
  }
  .questions__text {
    font-size: 13px;
  }
  .questions__body {
    font-size: 13px;
  }
  .questions__answer {
    font-size: 11px;
  }
  .deals__items {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .discover__left-header {
    margin: 0 auto;
    line-height: 47px;
    font-size: 39px;
  }
  .discover__left-body {
    font-size: 14px;
  }
}
@media (max-width: 643px) {
  .footer__top {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer__top .footer-side {
    gap: 275px;
  }
}
@media (max-width: 570px) {
  .footer-side {
    gap: 130px;
  }
  .footer-side:first-child {
    gap: 200px;
  }
}
@media (max-width: 540px) {
  .form__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start !important;
        -ms-flex-align: start !important;
            align-items: flex-start !important;
  }
}
@media (max-width: 480px) {
  .footer__bottom {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 30px;
  }
  .footer-side {
    gap: 95px !important;
  }
  .footer-side:first-child {
    gap: 130px m !important;
  }
  .blog__header {
    font-size: 24px;
  }
  .blog__text {
    font-size: 14px;
  }
  .carousel__header {
    text-align: center;
    font-size: 34px;
  }
  .carousel__inner {
    margin: 0 auto;
  }
}
@media (max-width: 380px) {
  .footer-side {
    gap: 65px;
  }
  .footer-side:first-child {
    gap: 62px;
  }
  .footer-side .text {
    font-size: 9px;
  }
  .discover__left-header {
    margin: 0 auto;
    line-height: 40px;
    font-size: 25px;
  }
  .discover__left-body {
    font-size: 12px;
  }
  .header__buttons {
    -webkit-transition: 0.3s all;
    -o-transition: 0.3s all;
    transition: 0.3s all;
    -webkit-transform: translateX(-100%);
        -ms-transform: translateX(-100%);
            transform: translateX(-100%);
    position: absolute;
    top: 20px;
    right: 0;
    width: 75%;
    text-align: right;
    color: #000000;
    z-index: 60;
  }
  .header__buttons .header__help, .header__buttons .header__language, .header__buttons .header__language::before, .header__buttons .header__login {
    color: #000000;
  }
}
@media (max-width: 350px) {
  .carousel__header {
    font-size: 28px;
  }
  .deals__column {
    max-width: 300px;
  }
  .deals__column .deals-column__image {
    max-width: 300px;
  }
}