@media (max-width:1088px){
    .small-photos{
        top: 31px;
    }
    .gallery__small-photos{
        height: 100px;
    }
    .small-photos__box{
        height: 100px;
    }
    .footer__inner {
        padding-top: 9px;
    }

}



@media (max-width:1024.99px){
    .footer{
        background-color: #fff;
    }
}
@media(max-width:940px){
    .gallery__container{
        min-height: 431px;
    }
}
@media (max-width:892px){
    .gallery__container{
        min-height: 368px;
    }
    .small-photos{
        flex-direction: row !important;
    }
}

@media (max-width:828px){
    .stories__text{
        font-size: 12px;
    }
    .stories__name{
        font-size: 12px;
        line-height: 19px;
    }
    .info__right{
        position: fixed;
        top: 55%;
        /* transform: translate(-50%); */
        left: 50%;
        transform: translate(1000%,-50%);
        transition: 0.3s all !important;
    }
    .pop-up__form{
        display: inline-block !important;
    }
}

@media(max-width:767.98px){
    .stories__items{
        flex-direction: column !important;
    }

    .stories__info{
        max-width: 360px !important;
    }
    .stories__items .stories__item{
        padding: 19px 15px !important;
    }
}
@media (max-width:742px){
    .gallery__container{
        min-height: 313px;
    }
    
}
@media (max-width:658px){
    .gallery__container{
        min-height: 282px;
    }
    
}

@media (max-width:623px){
    .gallery__container{
        min-height: 259px;
    }
    .breadcrumps__item{
        font-size: 8px;
        &:after{
            padding: 0 5px;
        }
    }
    .breadcrumps__items:before{
        font-size: 10px;
    }

    .first-photo{
        display: none !important;
    }
}
@media (max-width:518px){
    .gallery__container{
        min-height: 212px;
    }
    
}
@media (max-width:454){
    .gallery__container{
        min-height: 182px;
    }
    
}
@media (max-width:412px){
    .second-photo{
        display: none !important;
    }
    .small-photos__box{
        height: 79px;
    }
    .gallery .small-photos__box a{
        font-size: 12px;
        line-height: 17px;
    }

    .info__service{
        margin-right: 16px;
        font-size: 14px;
    }

    .info__title{
        font-size: 22px;
    }

    .info__description-body{
        font-size: 13px;
    }

    .info__right-title{
        font-size: 20px;
    }

    .info__right .form__dates{
        flex-direction: column;
    }
    .info__right .form__input-date {
        max-width: none;
    }
    .info__right .date__wrapper i{
        right: 0px;
    }
    .info__right {
        max-height: 641px;
        padding: 12px 66px;
    }
}
@media (max-width:380){
    .gallery__container{
        min-height: 152px;
    }
    
}
@media (max-width:320px){
    .gallery__container{
        min-height: 122px;
    }
    .breadcrumps__item{
        font-size: 7px;
        
    }
}